<!--EXT-->
<section class="container-fluid">
  <section class="card">
    <header class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <span class="fa fa-edit" aria-hidden="true"></span> {{ vm.actionTitle }}<br>
          <small class="text-muted">{{ vm.actionDescription }}</small>
        </div>
        <div class="col text-right">
        </div>
      </div>
    </header>
    <article class="card-body">
      <div id="h5p-container"></div>
      <h1 *ngIf="result">{{result.success}}</h1>
    </article>
    
  </section>
</section>
